{% extends 'base.html' %}
{% load humanize %}
{% load django_bootstrap5 %}

{% block subtitle %}Telescope {{ telescope.name }} | {% endblock %}

{% block content %}
<turbo-frame id="content" target="_top">
  <div class="d-flex align-items-center gap-3 justify-content-between border-bottom mb-3 pb-1">
    <h1>
      Telescope
      <small class="text-muted">| {{ telescope.name }}</small>
    </h1>
    <div>
      <span
        class="
          badge
          {% if telescope.is_active %}bg-primary{% else %}bg-secondary{% endif %}
        "
      >
        {{ telescope.get_status_display }}
      </span>
      <span
        class="
          badge
          {% if telescope.is_online %}bg-success{% else %}bg-secondary{% endif %}
        "
      >
        {{ telescope.get_state_display }}
      </span>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-12 col-md-6 col-lg-8 mb-3">
      <form action="." method="post">
        {% csrf_token %}
        <fieldset
          {% if not perms.telescope.change_telescope %}disabled{% endif %}
        >
          {% bootstrap_form form %}
        </fieldset>
        <div class="d-flex justify-content-between">
          <button
            type="button"
            class="btn btn-secondary"
            onclick="setCurrentLocation()"
            {% if not perms.telescope.change_telescope %}disabled{% endif %}
          >
            <i class="fa fa-globe"></i>
            Set Current Location
          </button>
          <button
            class="btn btn-primary"
            type="submit"
            {% if not perms.telescope.change_telescope %}disabled{% endif %}
          >
            <i class="fa fa-save"></i>
            Save
          </button>
        </div>
      </form>
    </div>
    {% if telescope %}
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card card-body mb-3">
        <h3 class="border-bottom pb-1">
          Actions
        </h3>
        <form
          action="{% url 'telescope.ping' telescope.id %}"
          method="post"
          class="mb-1"
          id="send-test-event-form"
        >
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ telescope.id }}">
        </form>
        <form
          action="{% url 'telescope.reconfigure' telescope.id %}"
          method="post"
          class="mb-1"
          id="send-reconfigure-event-form"
        >
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ telescope.id }}">
        </form>
        <div class="d-flex flex-column gap-2">
          <button
            type="submit"
            class="btn btn-sm btn-secondary"
            form="send-test-event-form"
            {% if not perms.telescope.change_telescope %}disabled{% endif %}
          >
            <i class="fa fa-exclamation-circle"></i>
            Send Ping
          </button>
          <button
            type="submit"
            class="btn btn-sm btn-secondary"
            form="send-reconfigure-event-form"
            {% if not perms.telescope.change_telescope %}disabled{% endif %}
          >
            <i class="fa fa-gear"></i>
            Send Reconfigure
          </button>
          {% if perms.telescope.view_observation %}
          <a
            href="{% url 'telescope.observation-list' telescope.id %}"
            class="btn btn-sm btn-secondary"
          >
            <i class="fa-solid fa-calendar-days"></i>
            Browse Observations
          </a>
          {% else %}
          <button
            href=""
            class="btn btn-sm btn-secondary"
            disabled
          >
            <i class="fa fa-file"></i>
            Browse Observations
          </button>
          {% endif %}
        </div>
      </div>
      {% if request.user.is_staff %}
      <div class="card card-body mb-3">
        <h3 class="border-bottom mb-3 pb-1">
          Device Configuration
        </h3>
        <b>Telescope ID</b>
        <div class="p-3 mb-1 bg-light rounded">
          <code class="d-block">
            {{ telescope.id }}
          </code>
        </div>
        <b>API Key</b>
        <div class="p-3 mb-1 bg-light rounded">
          <code class="d-block">
            {{ telescope.token.key }}
          </code>
        </div>
        <small>
          Use these values to configure the telescope so that it can send/receive data properly.
        </small>
        <form
          action="{% url 'telescope.regenerate-token' telescope.id %}"
          method="post"
          class="mb-1"
          id="regenerate-token-form"
          data-turbo-confirm="Are you sure? This will break the deployment of this device in the field. Click OK to regenerate the token."
        >
          {% csrf_token %}
          <input type="hidden" name="id" value="{{ telescope.id }}">
        </form>
        <div class="d-flex flex-column gap-2 my-2">
          <button
            type="submit"
            class="btn btn-sm btn-danger"
            form="regenerate-token-form"
            {% if not perms.telescope.change_telescope %}disabled{% endif %}
          >
            <i class="fa fa-exclamation-triangle"></i>
            Regenerate Token
          </button>
        </div>
        <small>
          <i class="fa fa-exclamation-circle text-danger"></i>
          Warning: Regenerating this key will break existing device deployments.
        </small>
      </div>
      {% endif %}
      <div class="card card-body">
        <h3 class="border-bottom mb-3 pb-1">
          More Information
        </h3>
        <ul>
          <li>
            {{ telescope.observations.count|default:0|intcomma }} total
            observation{{ telescope.observations.count|pluralize }}
          </li>
          <li>
            {{ telescope.recent_observations.count|default:0|intcomma }}
            observation{{ telescope.recent_observations.count|pluralize }}  this week
          </li>
          <li>
            {% if telescope.state_updated_at %}
              {{ telescope.state_updated_at|timesince }} since last state update
            {% else %}
              Never updated
            {% endif %}
          </li>
          <li>
            {% if telescope.last_upload_at %}
              {{ telescope.last_upload_at|timesince }} since last upload
            {% else %}
              Never updated
            {% endif %}
          </li>
          <li>
            {{ telescope.created_at|date }}
            (Created)
          </li>
          <li>
            {{ telescope.created_at|date }}
            (Last Updated)
          </li>
        </ul>
      </div>
    </div>
    {% endif %}
    </div>
</turbo-frame>
{% endblock %}

{% block morescript %}
<script>
  function setCurrentLocation() {
    navigator.geolocation.getCurrentPosition(position => {
      const { latitude, longitude } = position.coords;
      $('input[name="latitude"]').val(latitude);
      $('input[name="longitude"]').val(longitude);
    });
  }
</script>
{% endblock %}
